@(usuarios: List[Usuario], mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Listado de usuarios", scripts) {

    <h2> Listado de usuarios </h2>
    <table class="table table-condensed">
      <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Accion</th>
      </tr>
      @for(usuario <- usuarios) {
          <tr>
            <td>@usuario.id</td>
            <td>@usuario.login</td>
            <td>@usuario.nombre</td>
            <td>@usuario.apellidos</td>
            <td>
              <a onmouseover="" style="cursor: pointer;" onclick="del('@routes.UsuariosController.borraUsuario(usuario.id)')">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Borrar</a>
                          <a href="@routes.UsuariosController.detalleUsuario(usuario.id)"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true">Detalle</a>
                            <a href="@routes.UsuariosController.editaUsuario(usuario.id)"><span class="glyphicon glyphicon-pencil" aria-hidden="true">Editar</a>
                            <a href="@routes.TareasController.listaTareas(usuario.id)"><span class="glyphicon glyphicon-list" aria-hidden="true"> Ver tareas</p>
            </td>
          </tr>
        }
  </table>
     <a class="btn btn-primary" href="@routes.UsuariosController.formularioNuevoUsuario()">Crear un nuevo usuario</a></p>
    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }
}
